@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">U.H. Logistics LLC</h1>
    <h1 class="display-6">About Us</h1>
    <p class="light center"><span class='red-text'>U.H.</span> Logistics LLC is proudly based out of Texas, USA. We are a freight transportation company specializing in LTL freight. Our strongest focus is on our clients and being able to build a strong relationship with them; not to just service one of their transportation needs. We aim to continue to serve them in the highest standard in terms of service, dependability, communication, and overall client satisfaction. We truly understand the value of your cargo, how hard your team works, and how vital it is that every part of your company runs smoothly.</p>

    <p></p>
</div>
